html {
    overflow-y: auto !important;
}

body {
    margin: 0;
}

div {
    box-sizing: border-box;
}

.page {
    min-height: 100vh;
    background: var(--tm-page-bg);
}

.page-header {
    height: 60px;
}

.panel {
    background: var(--tm-item-bg);
    border-radius: 5px;
}